---
import Pictures from "../../components/Pictures.astro";
import Base from "../../layouts/Base.astro";
---

<Base fullWidthMain>
    <div>
        <h1>fotos</h1>
        <p class="laptop">pasa el mouse por encima de las imágenes para descripciones</p>
    </div>
    <Pictures />
</Base>

<style lang="scss">
    @import "../../styles/variables.scss";

    div {
        margin: 0 auto;
        width: $max-content-width;

        @media (max-width: $tablet) {
            width: auto;
            margin: 0;
        }
    }
</style>
